* {
  padding: 0;
  margin: 0;
}

h1 {
  padding-bottom: .5em;
}

.leftSide {
  width: calc(50% - 2em);
  padding: 1em;
}

section {
  margin-bottom: 1em;
}

.component {
  border: 1px dashed black;
  list-style: none;
  margin-top: .25em;
  margin-bottom: .25em;
  padding: .5em;
  display: grid;
}

.component h4, div {
  grid-column: 1;
}

.component pre {
  grid-column: 2;
  grid-row: 1 / 4;
}

#errors {
  background-color: white;
  border: solid black;
  color: red;
  margin: .5em;
  margin-bottom: 1em;
}

#errors ul {
  margin: 0.5em;
  list-style-position: inside;
}

#modelViewer {
  height: 100vh;
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
}

#localProfile {
  margin-top: .5em;
}

#localProfile ul {
  margin-left: .5em;
  list-style: inside;
}
