#modelViewer {
  width: 50%;
  height: 100vw;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
}

#assetError {
  background-color: white;
  border: solid black;
  color: red;
  position: absolute;
  right: 1em;
  left: 1em;
  top: 1em;
  display: block;
  z-index: 100;
}